<div id="<%= dom_id device %>">
  <p>
    <strong>Store:</strong>
    <%= device.store_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= device.type %>
  </p>

</div>
