<body class="sb-nav-fixed">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h1 class="mt-4">New store</h1>

                        <%= render "form", store: @store %>

                        <div class="mt-4">
                            <%= link_to "Back to stores", stores_path, class: "btn btn-secondary" %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between small">
                    <!-- Footer content here -->
                </div>
            </div>
        </footer>
    </div>
</body>
